html {
  scroll-behavior: smooth;
}

:root {
  --primary: #52BAAC;
  --secondary: #0B2130;
  --secondary-darker: #07151F;
  --bg: #fff;
  --text: #fff;
}

body{
    margin: 0;  
}

.navbar{
    padding: 8px 100px;
    background-color: var(--secondary-darker);
}

.navbar-nav{
    display: flex;
    flex-direction: row;
}

.navbar-nav li {
    margin-right: 15px;
}

.navbar-nav li a{
    font-family: 'Montserrat', sans-serif;
    color: var(--primary);
}

.navbar-nav li a:hover{
    color: var(--primary);
    font-weight: bold;
}

.navbar-brand h1{
    font-family: 'YellowTail', sans-serif;
    font-size: 2rem;
    color: var(--primary);
    text-align: center;
    margin: 0;
}

.main-container{

    display: flex;
    background-color: var(--secondary);
    justify-content: center; 
    align-items: center;
}

.main-image{
    background-color: #07151F;
}

.main-text{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.main-text h1{
    font-size: 2rem;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    color: var(--text);
}

.main-text p{
    font-size: 1rem;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    color: var(--text);
}

.main-text h1 span{
    font-family: 'YellowTail', sans-serif;
    font-size: 3rem;
}

.btn-gradient {
    text-align: center;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    width: 200px;
    background: linear-gradient(135deg, var(--primary), #fff);
    border: none; 
    color: var(--secondary); 
    padding: 10px 10px;   
    border-radius: 8px;   
    font-size: 16px;      
    cursor: pointer;      
    transition: all 0.3s ease; 
}

.btn-gradient-2 {
    color: var(--text);
    text-align: center;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    width: 200px;
    background: linear-gradient(135deg, var(--primary), var(--secondary));
    border: none; 
    padding: 10px 10px;   
    border-radius: 8px;   
    font-size: 16px;      
    cursor: pointer;      
    transition: all 0.3s ease; 
}

.btn-gradient:hover {
    color: #0B2130;
    transform: scale(1.05); 
}

.cards h1{
    font-size: 2rem;
    font-family: 'Montserrat', sans-serif;
}

.cards p{
    font-size: 1rem;
    font-family: 'Montserrat', sans-serif;
}

.custom-card{
    
}

.phone-card:hover .phone-icon{
    animation: spotlightIn 500ms ease-out forwards;
}

.phone-card:not(:hover) .phone-icon{
    animation: spotlightOut 500ms ease-out forwards;
}

.phone-icon{
    width: 100px;
}

.fix-card:hover .fix-icon{
    animation: spotlightIn 500ms ease-out forwards;
}

.fix-card:not(:hover) .fix-icon{
    animation: spotlightOut 500ms ease-out forwards;
}

.fix-icon{
    width: 100px;
}

.send-card:hover .send-icon{
    animation: spotlightIn 500ms ease-out forwards;
}

.send-card:not(:hover) .send-icon{
    animation: spotlightOut 500ms ease-out forwards;
}

.send-icon{
    width: 100px;
}

.form-section {
  background-color: var(--secondary); /* cor do fundo da seção */
}



@font-face {
    font-family: 'Montserrat';
    src: url('assets/fonts/Montserrat/static/Montserrat-Regular.ttf') format('truetype');
    font-weight: 400; /* variável de 100 a 900 */
    font-style: normal;
}

@font-face {
    font-family: 'YellowTail';
    src: url('assets/fonts/Yellowtail/Yellowtail-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

footer {
    background-color: var(--secondary-darker);
}

@keyframes spotlightIn {
    from{
        transform: scale(1);
        fill: black;
    }
    to{
        transform: scale(1.1);
        fill: var(--primary);
    }
}

@keyframes spotlightOut {
    from{
        transform: scale(1.1);
        fill: var(--primary);
    }
    to{
        transform: scale(1);
        fill: black;
    }
}